<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datensätze</title>

    <!-- CSS laden -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleStart.css') }}">
</head>
<body>
    <!-- Kreise oben -->
    <div class="circles">
        <a href="{{ url_for('choose_profile') }}" class="circle">1</a> <!-- Verlinkung zu Flask-Routen -->
        <div class="circle big">2</div> <!-- Kleine Kreise sind nicht anklickbar -->
        <div class="circle grey">3</div>
        <div class="circle grey">4</div>
        <div class="circle grey">5</div>
    </div>
    
    <h1>Wähle den Datensatz</h1>

    <div id="profile-container" data-profile="{{ profile }}"></div>
    
    <!-- Buttons -->
    <div class="buttons">
        <a href="{{ url_for('choose_algorithm', data='Hashtag', profile=profile) }}" class="button">Hashtags</a>
        <a href="{{ url_for('choose_algorithm', data='Months', profile=profile) }}" class="button">Months</a>
        <a href="{{ url_for('choose_algorithm', data='Weeks', profile=profile) }}" class="button">Weeks</a>
        <a href="{{ url_for('choose_algorithm', data='Pixel', profile=profile) }}" class="button">Pixel Color</a>
        
        <!-- PixelColor Button -->
        <!-- <a id="pixelColorButton" class="button">PixelColor</a>  -->
    </div>

    <!-- Skripte einbinden -->
    <!-- <script src="{{ url_for('static', filename='js/readImages.js') }}"></script> -->
    <!-- <script>
        async function fetchAndGenerateImagesJson() {
            const response = await fetch('/generate-images-json');
            const data = await response.json();
            console.log(data.message); // Bestätigung der Erstellung
            await analyzeColors();
        }
    
        document.getElementById('pixelColorButton').addEventListener('click', fetchAndGenerateImagesJson);
    </script> -->
    <script>
        // async function fetchAndGenerateImagesJson() {
        //     console.log("fetchAndGenerateImagesJson() wurde aufgerufen.");

        //     try {
        //         console.log("Starte Fetch-Anfrage an /generate-images-json.");
        //         const response = await fetch("{{ url_for('generate_images_json') }}");

        //         console.log("Antwort vom Server erhalten.");

        //         if (!response.ok) {
        //             console.error("Fehler: Die Antwort des Servers war nicht erfolgreich.");
        //             return;
        //         }

        //         const html = await response.text(); // HTML-Inhalt abrufen
        //         //console.log("HTML-Inhalt aus der Antwort:", html);

        //         // Optional: Füge den HTML-Inhalt in den DOM ein
        //         document.body.innerHTML = html;
        //     } catch (error) {
        //         console.error("Ein Fehler ist aufgetreten in fetchAndGenerateImagesJson:", error);
        //     }       
        // }

        // // async function fetchAndGenerateImagesJson() {
        // //     console.log("fetchAndGenerateImagesJson() wurde aufgerufen."); // Log-Ausgabe beim Aufruf der Funktion
    
        // //     try {
        // //         console.error("Starte Fetch-Anfrage an /generate-images-json."); // Log-Ausgabe vor der Fetch-Anfrage
        // //         const response = await fetch("{{ url_for('generate_images_json') }}");
               
        // //         console.log("Antwort vom Server erhalten."); // Log-Ausgabe nach der Antwort vom Server
    
        // //         if (!response.ok) {
        // //             console.error("Fehler: Die Antwort des Servers war nicht erfolgreich."); // Fehlerbehandlung für unzureichende Antwort
        // //             return;
        // //         }
    
        // //         const data = await response.json();
        // //         console.log("Daten aus der JSON-Antwort:", data); // Log-Ausgabe der erhaltenen Daten
    
        // //         console.log(data.message); // Bestätigung der Erstellung
    
        // //     } catch (error) {
        // //         console.error("Ein Fehler ist aufgetreten bei readPixels in fetchAndGenerateImagesJson:", error); // Fehlerbehandlung für try-catch
        // //     }

          
        // //}
        
        // console.log("Ich stehe über dem getElementById.");
        // document.getElementById('pixelColorButton').addEventListener('click', 
        //     fetchAndGenerateImagesJson
        // );
    </script>
    
</body>
</html>
